AGORA_APP_ID=98299e33a32f4137a94daacc5422c92e
TELEGRAM_CHANNEL_LINK=https://t.me/speak2them
TELEGRAM_CHANNEL_ID=@speak2them
ADMIN_TELEGRAM_ID=5134853364
TELEGRAM_APP_URL=https://t.me/Speak2them_bot/app